html(lang='es')
	head
		title Ping Pongo
		link(rel="stylesheet" href="css/index.css")
		meta(charset="UTF-8")
	body
		h1 Ping Pong en Canvas, usando MVC
		canvas(id="canvas")
		script(src="js/game.js")